var config = {
    // agileTrac = false
    agileTrac: true,
    baseUrl: 'host.tld/trac/',
    protocol: 'https',
    user: '',
    password: '',
    // trello key
    key: 'xxxx',
    // trello token
    token: 'xxxx'

}
